html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.bg-imagen::before, .bg-cuadrado::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("");
    opacity: .4;
}

.bg-cuadrado {
    background-image: url("../imagenes/prueba.jpg") !important;
}

.bordes {
    border: 5px solid #ffda3c !important;
}

.thumbnail {
    background-color: transparent !important;
    border: none !important;
}


.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffda3c !important;
    background-color: #080808 !important;
  }

.navbar-inverse .navbar-nav .open > li > a{
    color: #fff !important;
  }
  
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffda3c;
  background-color: #080808;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #ffda3c;
}


.redes, .opc {
    text-transform: uppercase !important;
    font-weight: bolder !important; 
}

.redes:hover {
    color: #ffda3c !important;
}

.site-about, .site-contact, .site-entradas, .site-fests {
    font-family: Fresca;
    font-size: 20px;
    font-weight: bold;
}

.numeracion {
    font-family: Anton;
    font-size: 40px!important;
    line-height: 40px;
    font-weight: bold;
}

.btn-warning {
    background-color: #ffda3c !important;
    border-color: #ffda3c !important;
}

a {
    color: #333333;
}
a:hover {
    color: #ffda3c;
    text-decoration: none;
}

.encuadre {
    width: 100% !important;
    top: 70px;
    position: absolute;
    z-index: 200;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.breadcrumb {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

.mt {
    margin-top: 15px;
}


